<% include ../head %>
		<form action="/bags/edit/complete" align = "center" method = "post">
			<input type="hidden" name="BagName" value= "<%=arr[0]['BagName']%>" ></input>
			<input type="hidden" name="length" value= <%=arr.length%> ></input>
		

			<table border = "1">
			<tr>
				<td>Product					</td>
				<td>Quantity				</td>
			</tr>
			<% for (var i in arr) { %>
				<tr>
					<td> <%=arr[i]['ProductName']%> </td>
					<td> 						
						Quantity: <input type="text" name="Quantity<%=i%>" value= <%=arr[i]['CurrentMonthQuantity']%> ></input>
						<input type="hidden" name="ProductName<%=i%>" value= <%=arr[i]['ProductName']%> ></input>
									
						
					</td>
				</tr>
			<%}%>
			</table>
		
		<input type="submit" value="Update"></input>
		</form>
<% include ../foot %>