<% include ../head %>
    <h1> <%= client.FirstName + " " + client.LastName %> </h1>
    <p>Bag name : <%= client.BagSignedUp %> </p>
    <p> Pickup day: <%= client.PickupDay %> </p>
    <p> Client since : <%= client.Start %> </p>
    <p> <a href="/clients/<%= client.CID %>/fam">Edit family</a> </p>
<% include ../foot %>

